.element__like {
  background: transparent url(../../../images/heart.svg);
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #FFF;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
  justify-self: end;
  margin-right: 20px;
}

.element__like:hover {
  opacity: 0.5;
}