.header__logo {
    width: 142px;
    height: 33px;
    padding-bottom: 41px;
}


@media screen and (max-width: 768px) {
    .header__logo {
      width: 104px;
      height: 25px;
      margin: 0 auto 32px 27px;
      padding: 0;
    }
  }