.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    max-width: 880px;
    margin: 0 auto 51px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .profile {
      max-width: 282px;
      margin: 42px auto 36px;
      flex-direction: column;
    }
  }