.popup__name {
    max-width: 358px;
    max-height: 27px;
    height: 100%;
    width: 100%;
    margin: 0 36px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-top: none;
    border-left: none;
    border-right: none;
}

@media screen and (max-width: 768px) {
    .popup__name {
        max-width: 238px;
        max-height: 27px;
        margin: 0 22px 30px;
    }
  }