.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .popup__container {
    max-width: 282px;
  }
}