.profile__add-button {
    background: transparent url(../../../images/addbutton.svg);
    background-size: 22px;
    justify-self: flex-end;
    margin-left: auto;
    padding: 0;
    width: 150px;
    height: 50px;
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
    .profile__add-button {
      width: 282px;
      margin: 0 auto;
      background-size: 16px;
    }
  }

  .profile__add-button:hover {
    opacity: 0.6;
}