.profile__info {
    max-width: 336px;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-areas:
        'name edit-button'
        'comment .';
    grid-template-columns: 1fr min-content;
    gap: 16px 18px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .profile__info {
        margin: 22px 19px 36px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 14px 10px;
    }
}